<?xml version="1.0"?>
<robot name="igus_rebel" >

  <link name="world">
    <visual>
        <geometry>
          <mesh filename="package://rebel_test/meshes/test.stl" />
        </geometry>
    </visual>
    


  </link>

  <link name="base_link">
    <visual>
      <geometry>
          <mesh filename="package://rebel_test/meshes/test.dae" />
       
      </geometry>
    </visual>
  </link>

  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link = "base_link" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>

</robot>